
<div class="super-admin-header">
    <div class="left-admin-side">
        <div class="rectangle">
        
        </div>
        <span>Super Admin</span>
    </div>
    <div class="right-admin-side">
        <div class="online-side">
            <span>Online</span>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
        </div>
        <div class="notification">
            <img src="assets/icons/notification.svg">
        </div>
        <div class="badge">

        </div>
        <div class="drop-down">
            John doe
        </div>
    </div>

</div>

<mat-toolbar color="primary">
    <!-- <app-toggle-sidebar></app-toggle-sidebar> -->
    <header>
        <div>Tag list</div>
        <div> <button mat-raised-button>New Tag</button></div>
    </header>
</mat-toolbar>




