.sidebar_menu{
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 12px 0 rgba(196, 196, 196, 0.7);
}

  .sidebar_menu .menu-list {
    flex: 1;
    justify-content: normal;
  }

  .sidebar_menu .icon {
    padding: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
  }

  .sidebar_menu .label {
    margin: 0;
  }

  .sidebar_menu .active-list-item {
    color: #3f51b5 !important;
  }